<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="core">
            <file>tests/LavachartsTest.php</file>
            <file>tests/VolcanoTest.php</file>
        </testsuite>
        <testsuite name="charts">
            <directory>tests/Charts/</directory>
        </testsuite>
        <testsuite name="dashboards">
            <directory>tests/Dashboards/</directory>
        </testsuite>
        <testsuite name="datatables">
            <directory>tests/DataTables/</directory>
        </testsuite>
        <testsuite name="javascript">
            <directory>tests/Javascript/</directory>
        </testsuite>
        <testsuite name="values">
            <directory>tests/Values/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile="build/logs/testdox.html"/>
    </logging>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor/</directory>
            <directory>tests/</directory>
            <directory>src/Laravel/</directory>
            <directory>src/Symfony/</directory>
        </exclude>
    </source>
</phpunit>
